.listing {
	display: flex;
	justify-content: space-between;
}

.myplaces {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.places h1 {
	font-size: 30px;
}

.places article {
	border: 1.15px solid #ff5a5f;
	width: 390px;
	margin: 20px;
	padding: 20px;
	border-radius: 4px;
	justify-content: center;
}

.places article h2 {
	font-size: 30px;
	margin-top: auto;
	margin-bottom: 50px;
	margin-left: 30%;
}

.price_by_night {
	padding: 1.5%;
	color: #ff5a5f;
	border: 3.5px solid #ff5a5f;
	border-radius: 50%;
	min-width: 65px;
	height: 65px;
	font-size: 30px;
}

.price_by_night p {
	margin-top: 21%;
	margin-bottom: auto;
	text-align: center;
}

.information p {
	margin-top: 50px;
}

.information {
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.max_guest {
	margin-left: 30px;
	width: 100px;
	background: url("../images/icon_group.png") no-repeat;
}

.number_rooms {
	width: 100px;
	background: url("../images/icon_bed.png") no-repeat;
}

.number_bathrooms {
	width: 100px;
	background: url("../images/icon_bath.png") no-repeat;
}

.user {
	margin-top: 21px;
	margin-bottom: 6px;
	text-align: left;
}
